* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/poppins/Poppins-Medium.ttf');
}

:root {
    --amarelo: #FED049;
    --branco: #fff;
    --marrom-escuro: #422311;
    --preto:  #1F110B;
}

header {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    z-index: 1000;
}

header .container-grid {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-grid img {
    width: 140px;

    border-radius: 10px;
}

nav {
    width: 450px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-size: 20px;
    list-style-type: none;
    color: var(--branco);

    cursor: pointer;
    font-family: 'Poppins-Medium';
}

nav ul li:hover {
    color: var(--amarelo);
}

/* Seção banner */
#banner {
    position: relative;
    width: 100%;
    height: 667px; /* altura fixa do banner */
    overflow: hidden;
}

/* Container do carrossel */
#carousel {
    display: flex;
    transition: transform 0.5s ease-out;
    width: 100%;
    height: 100%;
}

/* Slides */
.slide {
    width: 100%;
    height: 667px;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
}

#banner-text {
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;

}

#banner-text h1 {
    font-size: 80px;
    font-family: poppins-bold;
    color: var(--branco);

    margin-left: 30px;

    display: inline-block;
    overflow: hidden;
    border-right: 0.8em solid var(--amarelo);
    white-space: nowrap;
    animation: escrever 5s steps(25, end) infinite alternate,
    piscar 0.8s step-end infinite;
}

@keyframes escrever {
    from { width: 0 }
    to { width: 100% }
}

@keyframes piscar {
    50% { border-right-color: transparent }
}

#dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.dot {
    width: 20px;
    height: 20px;
    background: #bbb;
    cursor: pointer;
}

.dot:hover {
    background-color: var(--amarelo);
}


#byte-box-sobre {
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--marrom-escuro);
}

#byte-box-sobre .container-grid {
    width: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blur img {
    width: 50px;
}

#esquerda h2 {
    font-size: 70px;
    font-family: 'Poppins-Bold';

    color: var(--branco);

    margin-bottom: 20px ;
}

#esquerda h2 img {
    width: 70px;

    margin-top: 10px;
}

#esquerda p {
    color: var(--branco);
    font-family: 'Poppins-Light';
    font-size: 18px;
    line-height: 1.5em;
    margin-right: 30px;

    text-align: justify;
}

span {
    color: var(--amarelo);
    font-family: poppins-bold;
}

#byte-box-sobre-imagem {
    width: 750px;
    height: 510px;

    position: relative;
}

#imagem-sobre {
    width: 750px;
    height: 510px;

    border-radius: 20px;
}

.partiuByteBox{
    width: 175px;
    height: 45px;

    border: none;
    border-radius: 30px;

    background-color: var(--amarelo);

    color: var(--preto);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 60px;
    right: -30px;
}

.partiuByteBox p {
    font-size: 18px;
    color: var(--preto);

    font-family: "Poppins-Medium";
}

.blur {
    width: 150px;
    height: 150px;

    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);

    position: absolute;

    border: none;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
}

.blur img {
    width: 120px;
}

/*Galeria*/

#galeria {
    width: 100%;

    background-color: var(--preto);

    gap: 30px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#galeria .container-grid {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.titulo-galeria {
    width: 190px;

    cursor: pointer;
    align-self: start;
}

.titulo-galeria h2 {
    font-size: 50px;
    font-family: poppins-bold;
    color: var(--branco);

}

.titulo-galeria:hover h2{
    overflow: hidden;
    border-right: 0.8em solid var(--amarelo);
    white-space: nowrap;
    animation: typingGaleria 2s steps(8, end) infinite,
    blinkCaret 0.8s step-end infinite;
}

@keyframes typingGaleria {
    from { width: 0; }   /* invisível */
    to   { width: 8ch; } /* mostra todas as letras */
}

.card {
    width: 480px;
    height: 450px;

    background-color: var(--amarelo);
    border: none;
    border-radius: 30px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    border: none;
    border-radius: 30px;
    transition: height 0.5s ease;
}

.conteudo-card {
    width: 100%;

    display: flex;
    justify-content: space-around;
    transition: all 0.5s ease;

    height: 0;
    overflow: hidden;
    opacity: 0;
}

.texto-card {
    height: 200px;
    width: 350px;

    background-color: var(--preto);

    border: none;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 10px ;

    z-index: 99;
}

.texto-card p {
    font-family: poppins-bold;
    color: var(--amarelo);

    font-size: 20px;

    text-align: start;
    margin-left: 5px;
}

.botao-card img {
    height: 20px;
    width: 20px;
}

.botao-card {
    width: 70px;
    height: 200px;
    background-color: var(--branco);

    border: none;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.botao-card p {
    transform: rotate(270deg);

    font-size: 20px;

    font-family: poppins-medium;
}

.botao-card img {
    filter: brightness(0%);
    transform: rotate(90deg);

    width: 60px;
}

.card:hover img {
    height: 50%;
    border-radius: 30px;
}

.card:hover .conteudo-card {
    height: 50%;
    opacity: 1;
    padding: 10px;
}

.botao-card:hover {
    z-index: 0;
    box-shadow: 0px 0px 400px 200px rgba(255,255,255,0.7);
}

/* SERVIÇOS */

#servicos {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servico-titulo{
    cursor: pointer;

    width: 220px;
}

.servico-titulo h2 {
    font-size: 50px;
    font-family: poppins-bold, sans-serif;
    color: var(--preto);

    margin-top: 20px;
}

.servico-titulo:hover h2{
    overflow: hidden;
    white-space: nowrap;
    border-right: 10px solid var(--amarelo);

    animation: typingServico 2s steps(8, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typingServico {
    from { width: 0 }
    to { width: 7ch }
}

@keyframes blink {
    50% { border-color: transparent; }
}

#servicos .container-grid {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    padding: 30px;
}

.card-servico {
    width: 480px;
    height: 610px;
    background-color: var(--marrom-escuro);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: none;
    border-radius: 30px;
    overflow: hidden;

    cursor: pointer;

}

.card-servico img {
    height: 100%;

    position: absolute;
    transition: height 0.5s ease;
}

.conteudo-card-servico {
    width: 90%;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    opacity: 0;

    height: auto;
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 10px 10px;

    gap: 20px;
    margin-top: 10px;
}

.conteudo-card-servico p {
    font-family: poppins-medium;
    color: var(--amarelo);
    font-size: 16px;
}

.equipamentos {
    width: 200px;
    height: 50px;

    border: solid 2px var(--branco);
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-family: poppins-medium;
    color: var(--branco);
}

.botao-servico {
    width: 75px;
    height: 75px;

    z-index: 1;

    border: none;
    border-radius: 20px;

    background-color: var(--marrom-escuro);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 30px;
    right: 30px;

    transition: all 0.5s ease;

    opacity: 0  ;
}

.botao-servico img {
    width: 35px;
    height: 35px;
}

.card-servico:hover img {
    height: 50%;
    border-radius: 30px;

    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

.card-servico:hover .conteudo-card-servico {
    height: 50%;
    opacity: 1;
    padding: 10px;

    transform: translateY(0);
}

.card-servico:hover .botao-servico {
    opacity: 1;
}

.card-servico:hover .botao-servico img {
    width: 30px;
    height: 30px;
}

/* CONTATO */

#contato {
    width: 100%;
    height: 512px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--preto);
}

#contato .container-grid {
    width: 100%;

    display: flex;
}

#contato-esquerda {
    margin-left: 20px;

    padding: 10px;

    width: 750px;
    height: 512px;

    gap: 30px;

    display: flex;
    flex-direction: column;
}

#contato-esquerda h2 {
    font-family: poppins-bold;
    color: var(--branco);
    font-size: 50px;

    margin-top: 20px;

    align-self: flex-start;
    white-space: nowrap;

}

input::placeholder {
    color: var(--marrom-escuro);
    font-family: poppins-medium;
}

form #nome {
    width: 350px;
    height: 50px;
    border: none;

    padding: 10px;

    font-size: 20px;
    margin-right: 10px;
}

form #email {
    width: 350px;
    height: 50px;
    border: none;

    padding: 10px;

    font-size: 20px;
}

form #numero-celular {
    height: 50px;
    width: 715px;

    margin-top: 10px;

    padding: 10px;
    font-size: 20px;
}

form #mensagem {
    width: 715px;
    height: 175px;

    margin-top: 10px;

    font-size: 20px;
    padding: 10px;
}

form #botao-contato {
    width: 200px;
    height: 50px;

    background-color: var(--marrom-escuro);

    margin-top: 20px;
    font-size: 20px;
    color: var(--branco);

    border: none;

    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;

    cursor: pointer;

    margin-left: 250px;
}

form #botao-contato:hover {
    color: var(--amarelo);
}

#contato-direita {
    width: 750px;
    height: 512px;
}

#contato-direita img {
    height: 100%;
    width: 100%;
}

footer {
    width: 1500px;
    height: 475px;

    background-color: var(--marrom-escuro);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

footer .container-grid {
    display: flex;

    width: 95%;
}

#footer-esquerda {
    width: 50%;

    display: flex;
    gap: 300px;
}

#navegacao {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    gap: 20px;

    width: 150px;
}

#navegacao h3 {
    font-size: 30px;
    color: var(--branco);
    font-family: poppins-bold;
}

#nav-footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#nav-footer ul li img {
    opacity: 0;
}

#nav-footer ul li:hover img {
    opacity: 1;
}

#social {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    gap: 20px;
}

#social h3 {
    font-size: 30px;
    color: var(--branco);
    font-family: poppins-bold;
}

.redes {
    width: 150px;
    height: 40px;

    display: flex;
    align-items: center;

    gap: 10px;
}

.redes p {
    font-size: 20px;
    color: var(--branco);

    font-family: poppins-medium;
}

